@charset "UTF-8";

/* style.css */
/* Estilos do edit modal*/

.modal-edit {
  position: fixed;
  top: 60%;
  left: 50%;
  width: 200%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  justify-content: center; /* Centralize horizontalmente */
  align-items: center; /* Centralize verticalmente */
  z-index: 9999; /* Z-index alto para garantir que cubra todo o conteúdo */
}

.modal-content-edit .error_message {
    color: var(--color-alert); /* Cor vermelha para indicar um erro */
    font-size: 14px; /* Tamanho da fonte */
    margin-top: 5px; /* Espaçamento superior */
    font-weight: bold;
}

.modal-content-edit button.save-button {
    border: none;
    padding: 10px 20px; /* Ajuste conforme necessário para aumentar o tamanho */
    cursor: pointer;
    font-size: 16px; /* Ajuste conforme necessário para aumentar o tamanho */
    font-weight: bold; /* Adiciona negrito ao texto */
    color: #fff; /* Cor do texto */
    background-color: var(--color-details); /* Cor de fundo (verde) */
    border-radius: 4px; /* Borda arredondada */
    margin-top: 20px; /* Adiciona margem acima do botão */
    font-family: "Raleway", sans-serif;
    width: 30%;
}

.modal-content-edit button.save-button:hover {
    background-color: var(--color-details-hover); /* Cor de fundo do botão ao passar o mouse */
}
.modal-content-edit button.save-button.disabled {
  background-color: gray; /* Altere para a cor desejada para o botão desativado */
  color: white;
}

.modal-close-edit-button {
    border: none;
    padding: 8px 16px; /* Reduz o preenchimento interno do botão */
    cursor: pointer;
    font-size: 16px; /* Reduz o tamanho da fonte */
    font-weight: bold; /* Define o peso da fonte como negrito */
    position: absolute;
    top: 10px; /* Posiciona o botão no canto superior direito */
    right: 10px; /* Posiciona o botão no canto superior direito */
    color: #fff; /* Cor do texto */
    background-color: var(--color-primary); /* Cor de fundo do botão */
    border-radius: 4px; /* Adiciona bordas arredondadas ao botão *
  transition: background-color 0.3s; /* Adiciona uma transição suave na mudança de cor */
  font-family: "Raleway", sans-serif;
}

.modal-close-edit-button:hover {
    background-color: var(--color-primary-hover); /* Cor de fundo do botão ao passar o mouse */
}

.modal-content-edit .text-edit {
  margin-top: 35px;
  font-size: 17px;
  color: #000;
}

.modal-content-edit .black-text {
  color: #000;
  margin-top: 2px;
  font-size: 17px;
}

.modal-content-edit input[type="text"],
.modal-content-edit input[type="text"] {
  margin-top: 10px; /* Adiciona margem acima do campo de entrada */
  padding: 8px 12px; /* Ajusta o preenchimento interno do campo de entrada */
  font-size: 16px; /* Define o tamanho da fonte */
  border: 1px solid #ccc; /* Adiciona uma borda ao campo de entrada */
  border-radius: 4px; /* Adiciona bordas arredondadas */
  width: 100%; /* Define a largura para ocupar toda a largura do contêiner */
  box-sizing: border-box; /* Inclui o preenchimento e a borda na largura total */
}

.edit-input {
  margin-top: 10px; /* Adiciona margem superior para separar os inputs */
  width: 100%; /* Faz com que os inputs ocupem a largura total do modal */
  padding: 10px; /* Adiciona um espaçamento interno aos inputs */
  border: 1px solid #ccc; /* Adiciona uma borda ao redor dos inputs */
  border-radius: 4px; /* Adiciona bordas arredondadas aos inputs */
  font-size: 16px; /* Define o tamanho da fonte dos inputs */
}

.modal-content-edit {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: fixed;
  width: 90%;
  max-width: 400px; /* Ajuste o máximo para 800px */
  height: 100%; /* Ajuste para altura automática */
  max-height: 750px; /* Ajuste conforme necessário */ 
  margin-top: -250px;
}

.modal-content-edit .text-edit {
  margin-top: 45px; /* Espaço superior */
}

.modal-content-edit .text-edit label {
  font-weight: bold; /* Texto em negrito */
}

.modal-content-edit .text-edit input,
.modal-content-edit .text-edit textarea {
  width: 100%; /* Largura total */
  padding: 10px; /* Espaçamento interno */
  margin-top: 8px; /* Espaço superior */
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 5px; /* Cantos arredondados */
  box-sizing: border-box; /* Incluir preenchimento e borda na largura */
  font-size: 16px; /* Tamanho da fonte */
  transition: border-color 0.3s ease;
}

.modal-content-edit .text-edit input:focus,
.modal-content-edit .text-edit textarea:focus {
    outline: none; /* Remover contorno ao focar */
    border-color: var(--color-primary); /* Mudar cor da borda ao focar */
    transition: border-color 0.3s ease;
    border-width: 2px; /* Define a largura da borda */
}

.modal-edit .modal-content-edit .bio_text_edit {
  color: #000;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 10px;
  font-size: 17px;
}

.focused-textfield
.MuiOutlinedInput-root.Mui-focused
.MuiOutlinedInput-notchedOutline {
    border-color: var(--color-primary); /* Cor da borda quando focado */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-top: 10px;
}

.progress {
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
}

.confirm-delete-modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* Z-index alto para garantir que esteja acima do modal principal */
}

.confirm-delete-modal p {
  font-size: 18px;
  margin-bottom: 20px;
}

.confirm-delete-modal button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #07c449;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-family: "Raleway", sans-serif;
}

.confirm-delete-modal button:hover {
  background-color: #2ee96f;
}

.confirm-delete-modal .cancel-button-bio{
    background-color: #ff0000; /* Cor vermelha para o botão Cancelar */
}

.confirm-delete-modal .cancel-button-bio:hover{
    background-color: #f12828; /* Cor vermelha para o botão Cancelar */
}