body {
    font-family: "Raleway", sans-serif;
}

.form {
    width: 100%;
    max-width: 90%;
    background-color: var(--color-dark);
    height: 340px;
    max-height: 340px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 12px;
    margin: auto;
    transition:
        margin 0.3s,
        width 0.3s;
    /* Add transition for smoother resizing */
}

.form-side {
    text-align: center;
    width: 100%; /* Adicione esta linha para ocupar toda a largura do .form */
}

.white-btn {
    font-size: 12px;
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    padding: 11px 20px;
    transition: 0.4s;
    font-family: "Raleway", sans-serif;
}

.black-btn:hover {
    background-color: #bababa;
}

@media screen and (max-width: 1000px) {
    .form {
        width: 70vw;
        max-width: 700px;
        min-width: 300px;
    }

    .black-btn {
        font-size: 11px;
        width: 120px;
        margin-top: 3px;
        padding: 10px;
    }
}

.password-input-container {
    position: relative;
    display: inline-block; /* Para que o botão fique dentro do input */
    width: 100%;
}

.toggle-password-button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: none; /* Remover o fundo */
    border: none; /* Remover a borda */
}

.toggle-password-button-two {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none; /* Remover o fundo */
    border: none; /* Remover a borda */
}

.toggle-password-button-three {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none; /* Remover o fundo */
    border: none; /* Remover a borda */
}

.error-visible .form {
    height: 0px; /* Ajuste a altura automaticamente quando a mensagem de erro é visível */
}

.form .error-visible {
    height: 0px;
}

.form.error-visible .entrada,
.form.error-visible .forgot-password-link,
.form.error-visible,
.form.error-visible {
    margin-top: 0px; /* Ajuste conforme necessário */
}

.entrada {
    width: 98%;
    border-radius: 5px;
    height: 45px;
    border: 1px solid rgb(209, 206, 206);
    outline: none;
    padding: 15px;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.entrada:focus {
    border: 1px solid var(--color-details-focus);
}

.pink {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 15px;
    border: none;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
    width: 98%;
    margin-top: 10px;
    padding: 10px;
}

.pink:hover {
    background-color: var(--color-primary-hover);
}

.forgot-password-link {
    cursor: pointer;
    color: var(--color-link);
    font-size: 15px;
    font-weight: 500;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.line {
    width: 100%;
    height: 1px;
    margin: 5px;
    border: 1px solid rgb(216, 218, 217);
}

.help {
    width: 70%;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    display: inline-block;
    padding: 40px;
}

.form-side a {
    font-weight: bold;
    transition: color 0.3s;
    color: #000000;
}

.form-side a:hover {
    color: #3b3b3b;
}

.login-message {
    color: var(--color-alert);
    font-size: 12px;
    height: 0;
    
}

.popup-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 700px;
    width: 80%;
    max-width: none;
}

.popup h2 {
    font-size: 23px;
    margin-left: 3%;
    margin-top: 10px; /* Ajusta a margem superior */
    margin-bottom: 15px; /* Adiciona uma margem inferior */
    color: #333; /* Adiciona uma cor ao título */
}

.popup p {
    font-size: 18px;
    margin-left: 3%;
    margin-bottom: 15px;
    color: #666; /* Adiciona uma cor ao texto */
}

.popup-content input,
.popup-content select {
    width: 100%;
    border-radius: 5px;
    height: 36px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.popup-content input:focus,
.popup-content select:focus {
    border: 1px solid var(--color-details-focus);
}

#lastName {
    margin-left: 12px;
}

.flex-container {
    display: flex;
    margin-bottom: 2px; /* Adiciona uma margem inferior ao flex-container */
}

.flex-item {
    flex: 1;
    margin-right: 12px;
}

/* Estilos comuns para .signuping */
.signuping {
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 8px;
    width: 150px;
}

.signuping:hover {
    background-color: var(--color-primary-hover);
}

.popup-content a {
    color: var(--color-link);
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin: 15px 0;
    display: block;
    text-decoration: none;
}

.popup-content a:hover {
    text-decoration: underline;
}

.popup-content .line {
    width: 100%;
    height: 1px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.popup-content .gold-btn {
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: bold;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s; /* Adiciona transição de cor de fundo */
    width: 100%;
}

.popup-content .gold-btn:hover {
    background-color: #bababa;
}

.popup-content select {
    margin-top: 10px; /* Ajusta a margem superior do seletor */
}

.popup-content .close-button {
    margin-top: 5%;
    margin-left: 100%;
    font-size: 24px;
    cursor: pointer;
    color: #666; /* Adiciona uma cor ao botão de fechar */
}

.with-placeholder {
    color: #888;
    font-size: 13px;
    display: block;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
}
.popup .error-message {
    font-size: 10px;
    color: var(--color-alert);
}

.popup-content.error-visible {
    height: 355px;
    margin-top: -40px;
}

.popup-content.error-visible h2 {
    margin-top: 5px;
}

.popup-content.error-visible p {
    margin-top: 3px;
}

.popup-content.error-visible input,
.popup-content.error-visible select {
    margin-top: 10px;
}

.popup-content.error-visible .flex-container {
    margin-bottom: 2px;
}

.popup-content.error-visible .signuping {
    margin-top: 5px;
}

.popup-content.error-visible .close-button {
    margin-top: -2%;
}

.popup-content.error-visible .popup .error-message {
    font-size: 12px;
}
