.find-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-user-content {
  text-align: center;
  margin-top: 100px;
}

.details-users-details {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-dark);
  margin-bottom: 40px;
  margin-top: 10px;
}

.username-input {
  margin-bottom: 100px;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid var(--color-details);
  width: 500px;
  font-size: 16px;
  position: relative;
  font-family: "Raleway", sans-serif;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin: 0 -100px;
  max-height: 500px; /* Defina uma altura máxima para a lista */
  overflow-y: auto; /* Adicione overflow-y para permitir rolagem vertical quando necessário */
}

.profile-icon-profile {
  width: 50px;
  background-color: #666;
  border-radius: 50px;
  height: 50px;
}

.user-item-user {
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.user-item-user:hover {
  color: rgb(63, 63, 63);
}

.user-link-user {
  text-decoration: none;
  color: inherit;
}

.user-avatar {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-icon-profile {
  color: #666;
  background-color: black;
}

.username-search {
  margin-top: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.error-message-error {
  color: var(--color-alert);
  font-weight: bold;
  margin-top: 20px;
}

/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
  .find-user-container {
    flex-direction: column; /* Muda para layout de coluna */
  }

  .user-list {
    margin: auto;
  }

  .username-input {
    width: 300px; /* Define a largura para 80% da largura da tela */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    margin-bottom: 50px; /* Ajusta a margem inferior */
  }
}
