.comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.comment-modal-content {
  position: relative;
  background-color: #ffffff;
  max-width: 100rem;
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

.comment-image {
  width: 100%;
  height: 62.8rem;
  object-fit: cover;
}

.close-comment-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-primary-focus);
  font-size: 38px;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px 90px;
  align-self: center;
}

.comment-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.comment-textarea {
  width: calc(100% - 120px);
  min-height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
}

.comment-textarea::placeholder {
  color: #999;
  font-style: italic;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.submit-comment-button {
  background: none;
  font-weight: bold;
  color: var(--color-primary-focus);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
}

.submit-comment-button:hover {
  color: var(--color-primary);
}

.comment-list {
  margin: 20px 10px;
  width: 100%;
  align-self: flex-start;
  height: 600px;
  overflow-y: auto;
  margin-bottom: 100px;
}

.comment-title {
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-bottom: 80px;
}

.comment-list ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.comment-list li {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.comment-user-info {
  display: flex;
  align-items: center;
}

.profile-image-feed {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.username-comment {
  display: flex;
  align-items: center;
}

.username-feed-publication {
  font-weight: bold;
  margin-right: 10px;
}

.comment-text {
  margin-right: 10px;
}

.comment-time {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.loading-shimmer {
  background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
  background-size: 1000px 100%;
  position: relative;
}

.loading-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: shimmer 3s linear infinite; /* Remova o forwards para a animação continuar infinitamente */
  animation-delay: 0.8s;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0; /* Mover da esquerda para a direita */
  }
  100% {
    background-position: 100% 0; /* Mover da direita para a esquerda */
  }
}

.no-comments-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 80px 20px;
  border-radius: 5px;
  font-weight: 500;
  color: var(--color-gray);
}

@media screen and (max-width: 600px) {
  .comment-modal-content {
    flex-direction: column;
    align-items: center;
  }

  .comment-image {
    height: 550px;
    max-width: 100%;
    margin-bottom: -10px;
  }

  .comment-input-container {
    width: 90%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; /* Alinhe os itens à esquerda */
  }

  .comment-list {
    max-height: 300px;
    margin-top: -30px;
    overflow-y: auto;
  }

  .no-comments-message {
    margin: 20px 0;
  }

  .close-comment-modal {
    font-size: 34px;
    margin-top: 80px;
  }

  .comment-textarea {
    width: 70%;    
   margin-bottom: 10px 10px;
    resize: vertical;
    margin-top: -180px;
  }

  .submit-comment-button {
    width: 20%;
    margin-top: -185px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1020px) {
  .comment-modal-content {
    flex-direction: column;
    align-items: center;
  }

  .comment-image {
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .comment-input-container {
    width: 90%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; /* Alinhe os itens à esquerda */
  }

  .comment-list {
    max-height: 280px;
    margin-top: -20px;
    overflow-y: auto;
  }

  .no-comments-message {
    margin: 20px 0;
  }

  .close-comment-modal {
    font-size: 34px;
    margin-top: 25px;
  }

  .comment-textarea {
    width: 60%;
    resize: vertical;
    margin-top: -100px;
  }

  .submit-comment-button {
    width: 10%;
    margin-top: -100px;
  }
}
