.container-reset {
  width: 90%; /* Ajusta a largura para 90% da largura da tela */
  max-width: 450px; /* Define a largura máxima para evitar que o conteúdo se espalhe demais */
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  margin: 100px auto; /* Ajusta a margem superior e inferior */
}

.title-reset {
  font-size: 24px;
  color: var(--color-primary);
  margin: 40px auto; /* Ajusta a margem superior e inferior */
}

.input-container-reset {
  margin-bottom: 15px; /* Ajusta a margem inferior */
}

.input-container-reset input {
  width: 250px;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  margin: 10px 0; /* Ajusta a margem superior e inferior */
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.input-container-reset input:focus {
  outline: none;
  border: 1px solid var(--color-details-focus);
}

.message-reset {
  margin-top: 10px; /* Ajusta a margem superior */
  color: #dc3545;
}

.button-container-reset {
  text-align: center;
}

.button-container-reset button {
  background-color: var(--color-primary);
  color: #fff;
  font-size: 16px; /* Mantém o tamanho da fonte */
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
  width: 98%;
  margin-top: 10px; /* Ajusta a margem superior */
  padding: 10px; /* Mantém o preenchimento */
  font-family: "Raleway", sans-serif;
}

.button-container-reset button:hover {
  background-color: var(--color-primary-hover);
}

.footer-reset {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-reset .footer-copy{
  margin: 20px auto;
}