body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* Estilo do logotipo */
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 14em;
  margin-top: 30px;
}

.logo a {
  text-decoration: none;
  color: #000000;
}

.a:visited {
  color: #000000;
}

/* Estilo da logo quando passa o mouse por cima (hover) */
.logo:hover {
  text-decoration: none;
  color: #000000;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.container-form {
  max-width: 500px; /* Reduzi um pouco a largura máxima */
  height: 350px; /* Ajustei a altura para se adaptar ao conteúdo */
  margin: 70px auto; /* Centralizado verticalmente */
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Aumentei o raio da borda */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra suave */
  border: 1px solid #d5d5d5;
  background-color: #fff; /* Fundo branco */
}

.title {
  font-size: 24px; /* Aumentei o tamanho do título */
  color: var(--color-details-hover); /* Cor primária */
  margin-bottom: 30px; /* Espaçamento inferior */
  margin-top: 10px; /* Espaçamento superior */
}

.description {
  font-size: 16px;
  color: var(--color-gray); /* Cor cinza */
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

.email-input,
.password-input,
.code-input {
  width: calc(100% - 24px); /* Largura do campo menos o padding */
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.email-input:focus,
.password-input:focus,
.code-input:focus {
  border-color: var(--color-primary-focus); /* Cor de foco */
}

#submit-button {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-primary); /* Cor primária */
  padding: 12px 20px;
  margin: 10px auto;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: var(--color-primary-hover); /* Cor primária no hover */
}

/* Estilos para o formulário de validação de código */

.code-inputs {
  display: flex;
  justify-content: space-between;
}

.code-input {
  width: 14%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid var(--color-primary-focus); /* Utilizando a cor primária para a borda */
  border-radius: 8px;
  outline: none;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 50px auto;
  transition: border-color 0.3s ease;
  margin-bottom: 30px;
}

.code-input:focus {
  border-color: var(--color-primary-focus); /* Cor de foco */
}

.code-input:hover {
  background-color: white;
}

.code-input:last-child {
  margin-right: 0;
}

.verify-button {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-details);
  padding: 10px;
  color: #fff;
  font-size: 15px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.verify-button:hover {
  background-color: var(--color-details-hover);
}

.password-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 9px;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #828181;
  border-radius: 5px;
  outline: none;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}

.message{
  color: var(--color-alert);
}