/* Contêiner principal */
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

/* Estilo do contêiner do formulário */
.containerForm {
  max-width: 500px;
  height: auto;
  margin: 70px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #d5d5d5;
  background-color: #fff;
}

/* Estilo do rodapé */
.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #000;
  padding: 10px;
}

/* Estilos adicionais */
.logoTerm {
  font-size: 20px;
  font-weight: bold;
  margin-left: 4em;
  margin-top: 30px;
}

.logoTerm a {
  text-decoration: none;
  color: #000000;
}

.logoTerm:hover {
  text-decoration: none;
  color: #000000;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.title {
  font-size: 24px;
  color: var(--color-details-hover);
  margin-bottom: 30px;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  color: var(--color-gray);
  margin-top: 20px;
}

.emailInput,
.passwordInput,
.codeInput {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.emailInput:focus,
.passwordInput:focus,
.codeInput:focus {
  border-color: var(--color-primary-focus);
}

.submitButton {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-primary);
  padding: 12px 20px;
  margin: 10px auto;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-primary-hover);
}

.codeInputs {
  display: flex;
  justify-content: space-between;
}

.codeInput {
  width: 14%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid var(--color-primary-focus);
  border-radius: 8px;
  outline: none;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  transition: border-color 0.3s ease;
}

.codeInput:focus {
  border-color: var(--color-primary-focus);
}

.verifyButton {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-details);
  padding: 10px;
  color: #fff;
  font-size: 15px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.verifyButton:hover {
  background-color: var(--color-details-hover);
}

.passwordForm {
  margin-top: 20px;
  padding: 20px;
  border-radius: 9px;
}

.message {
  color: var(--color-alert);
}
