.otherCommunityCard {
  width: 180px;
  margin: 0 auto 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}

.carousel {
  display: flex;
  position: relative;
  height: 150px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.carousel .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}

.carousel .countryName {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.cardContent {
  padding: 8px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos horizontalmente */
}

.memberCount {
  margin-bottom: 4px;
}

.loadingMessage {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: var(--color-dark);
  font-weight: bold;
}

.noCommunitiesUser{
  font-size: 1.2rem;
  color: var(--color-alert);
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.joinButton {
  background-color: var(--color-primary-focus);
  color: var(--color-dark);
  border: none;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-radius: 20px;
}

.joinButton:hover{
  background-color: var(--color-dark);
  color: var(--color-primary-focus);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .otherCommunityCard {
    width: calc(100% - 20px);
    max-width: 250px;
    margin: 0 auto 10px;
  }
}
