.container-overflow {
  width: 100%;
  overflow-x: auto;
  margin-left: 180px;
  position: relative;
}

* .container-overflow::-webkit-scrollbar {
  height: 16px;
}

* .container-overflow::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

* .container-overflow::-webkit-scrollbar-thumb {
  border: 4px solid #f0f2f5;
  background-color: #000;
  border-radius: 8px;
}

.images-field-top {
  display: flex;

  height: 550px;
}

.cardContainerImageField {
  height: 100%;
  width: 100%;
  min-width: 268px;
  display: flex;
  flex-direction: column;
}

.imagefieldContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imagefieldContainer .textContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  position: relative;
}

.imagefieldContainer .textContainer span {
  z-index: 1;
  /* Garante que o texto fique acima de outros elementos */
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9); /* Aumentei a sombra do texto */
  display: block;
  padding: 10px; /* Adicionei preenchimento para separar o texto das bordas */
  border-radius: 10px; /* Arredondei as bordas */
  opacity: 0.9; /* Reduzi a opacidade do texto */
  font-family: "Raleway", sans-serif;
}

.imagefieldContainer .textContainer::before {
  content: "";
  background-color: #00000066;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.a1 {
  background-image: url("../../../../assets/travel-backpacker.jpg");
}

.a2 {
  background-image: url("../../../../assets/life-backpacker.png");
}
.a3 {
  background-image: url("../../../../assets/backpacker-camer.png");
}

.imagefieldContainer .textContainer .text-top-intro {
  font-size: 26px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.black-block {
  background-color: #000000b5;
  color: white;
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}

.black-block p{
  color: white;
  font-size: 20px;
}

.button-article {
  background-color: white;
  /* Cor de fundo do botão */
  color: var(--color-dark);
  /* Cor do texto do botão */
  padding: 10px 20px;
  /* Espaçamento interno do botão */
  border: 4px solid var(--color-details);
  /* Adiciona uma borda sólida */
  border-radius: 20px;
  /* Adiciona bordas arredondadas */
  font-size: 16px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Transforma o cursor em uma mão ao passar sobre o botão */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  /* Adiciona transição suave ao hover */
  margin: 15px 0;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.button-article:hover {
  background-color: var(--color-details);
  /* Cor de fundo do botão no hover */
  color: white;
  /* Cor do texto do botão no hover */
  border-color: white;
  /* Cor da borda no hover */
}

/* Para telas até 1280px */
@media only screen and (max-width: 1280px) {
  .images-field-top {
    height: 350px;
  }

  .imagefieldContainer .textContainer span {
    font-size: 32px;
  }

  .imagefieldContainer .textContainer .text-top-intro {
    font-size: 20px;
  }

  .black-block {
    min-height: 131px;
    height: 120px;
  }

  .black-block p {
    font-size: 16px;
    width: 100%;
  }
}

/*Para telas de até 1000px */

@media only screen and (max-width: 1000px) {
  .container-overflow {
    margin-left: 0;
  }
}
