/* UserCommunitiesCard.module.css */

.userCommunitiesCard {
  width: 680px;
  margin: 50px auto;
}

.userCommunitiesCard h2 {
  color: rgb(0, 0, 0);
  margin: auto 20px;
}

.hrTop {
  border: none;
  border-top: 2px solid var(--color-details);
  width: 98%;
  margin: 10px auto;
}

.cardCommunity {
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  margin: auto 26px;
  height: 230px;
  max-width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

.cardCommunity:last-child {
  margin-right: 0; /* Remove a margem direita do último card para evitar espaçamento extra */
}

.imageCountry {
  width: 100%;
  height: 100px; /* Ajuste conforme necessário */
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cardCommunity span{
  color: var(--color-primary-focus);
}
.cardCommunity span,
.cardCommunity p {
  display: block;
  text-align: left;
  margin: auto 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.signButtonSign {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  margin: 10px 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-radius: 20px;
}

.signButtonSign:hover {
  background-color: white;
  background-color: var(--color-primary-focus);
  font-weight: bold;
}

.userCommunitiesCard::after {
  content: "";
  display: table;
  clear: both;
}

.loadingMessage {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: var(--color-dark);
  font-weight: bold;
}

.noCommunitiesMessage {
  font-size: 1.2rem;
  color: var(--color-alert);
  text-align: center;
  width: 100%;
  font-weight: bold;
}
/* UserCommunitiesCard.module.css */

.customPrevButton,
.customNextButton {
  width: 40px; /* Largura das setas */
  height: 40px; /* Altura das setas */
  background-color: var(--color-primary-focus); /* Cor de fundo */
  color: white; /* Cor do ícone */
  border-radius: 50%; /* Borda arredondada para forma circular */
  font-size: 20px; /* Tamanho do ícone */
  line-height: 55px; /* Alinhamento vertical do ícone */
  z-index: 1; /* Z-index para manter sobre o conteúdo */
  position: absolute; /* Posição absoluta para posicionamento */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para centralizar verticalmente */
  cursor: pointer; /* Cursor ao passar */
  display: flex; /* Torna o conteúdo flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.customPrevButton {
  left: -25px; /* Posição mais para a esquerda */
}

.customNextButton {
  right: -25px; /* Posição mais para a direita */
}

.customPrevButton:hover,
.customNextButton:hover {
  background-color: var(--color-primary); /* Cor de fundo ao passar */
}

/* Estilos específicos para media query */
@media screen and (max-width: 600px) {
  .customPrevButton,
  .customNextButton {
    display: none; /* Esconde as setas */
  }
}

@media screen and (max-width: 600px) {
  .userCommunitiesCard {
    width: 520px;
    margin: auto;
  }
  .cardCommunity {
    height: auto;
  }
}
