

.logo-term {
  font-size: 20px;
  font-weight: bold;
  margin-left: 4em;
  margin-top: 30px;
}

.logo-term a {
  text-decoration: none;
  color: #000000;
}

.logo-term:hover {
  text-decoration: none;
  color: #000000;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.main-heading {
  color: #333;
  font-size: 50px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.main-paragraph {
  color: #555;
  font-weight: 800;
  font-size: 20px;
  margin-left: 14%;
  margin-top: 80px;
  margin-bottom: 30px;
}

.section-heading {
  color: #333;
  font-size: 20px;
  margin-left: 14%;
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.image-container .image-with-text {
  width: 50%;
  margin: 10px;
  position: relative;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s, filter 0.3s;
}

.image-container .image-with-text:hover {
  filter: brightness(1);
  transform: scale(1.05);
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  transition: transform 0.3s;
  border-radius: 10px;
}

.image-container img:hover {
  transform: scale(1.03);
}

.p {
  font-weight: bold;
  font-size: 1.2em;
}

.subp {
  margin-top: 3%;
  font-size: 15px;
  color: #555;
}

.footer-reset-terms {
  position: absolute;
  margin: 64px auto;
}


@media only screen and (max-width: 600px) {
  .container {
    margin-right: 0;
  }

  .main-heading {
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 55px;
  }

  .main-paragraph {
    font-size: 16px;
    margin-left: 5%;
    margin-top: 15px;
  }

  .section-heading {
    font-size: 18px;
    margin-left: 5%;
    margin-bottom: 5px;
  }

  .image-container {
    flex-direction: column; /* Alterando a direção do flex para coluna */
  }

  .image-container .image-with-text {
    width: 80%; /* Largura total para ocupar a largura da tela */
    margin: 10px 0; /* Adicionando margem entre as imagens */
    margin-left: 10%;
    margin-bottom: 5%;
  }
}

/* Adicionando regras de mídia para telas maiores que 600px até 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .image-container .image-with-text {
    width: 40%; /* Reduzindo a largura para 40% em telas maiores, mantendo-as lado a lado */
    margin-left: 3%;
  }
  .main-heading {
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 55px;
  }

  .main-paragraph {
    font-size: 16px;
    margin-left: 5%;
    margin-top: 15px;
  }

  .section-heading {
    font-size: 18px;
    margin-left: 5%;
    margin-bottom: 5px;
  }
  .container{
    margin-bottom: 66px;
  }
}

/* Adicionando regras de mídia para telas maiores que 900px */
@media only screen and (min-width: 901px) {
  .image-container {
    flex-direction: row; /* Restaurando a direção do flex para linha em telas maiores */
  }

  .image-container .image-with-text {
    width: 20%; /* Mantendo a largura como 20% para manter as imagens lado a lado */
    margin: 10px 0;
    margin-left: 2%;
  }
  .main-heading {
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 55px;
  }

  .main-paragraph {
    font-size: 16px;
    margin-left: 5%;
    margin-top: 15px;
  }

  .section-heading {
    font-size: 18px;
    margin-left: 5%;
    margin-bottom: 5px;
  }

  .container{
    margin-bottom: 85px;
  }
}
