/* BackpackingArticle.module.css */
.articleContainer {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 1200px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 2.5em;
  color: var(--color-dark);
  margin: auto;
}

.locationsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-items: center;
  margin: 50px auto;
}

.detailsSection {
  margin-top: 40px;
  display: grid;
  gap: 30px;
}
