.footer-world {
  width: 100%;
  background: var(--color-dark);
  color: var(--color-primary-focus);
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  margin: -108px auto;
  left: 0;
}

.main-content {
  min-height: calc(
    100vh - 80px
  ); /* Adjust height based on your footer's height */
  padding-bottom: 80px; /* Same as the footer's height */
  position: relative;
}

.container-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  flex-grow: 1;
  padding: 0 20px; /* Adiciona algum espaço nas laterais */
}

.cards {
  display: flex;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards-contain {
  background: black;
  max-width: 600px;
  border-radius: 20px;
  border: 1px solid var(--color-details);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 40px auto;
  margin-bottom: 70px;
}

.cards-contain > h2 {
  color: white;
  text-align: left;
  width: 90%;
  transform: translateY(10px);
  margin: auto;
  padding: 10px 10px;
}

.cards-contain hr {
  width: 90%;
  padding: 1px;
  border-radius: 20px;
  background: var(--color-details);
  border: none;
  margin: 10px auto;
}

.card-community {
  background: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;
  justify-content: space-between;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  margin: 10px 10px;
  flex: 1 1 100px; /* Cada cartão tem largura flexível, mas com no máximo 200px */
}

.card-community span,
p {
  margin: 0 10px;
  color: black;
}

.sign-button-sign {
  margin: auto;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 20px;
  color: var(--color-dark);
  background: var(--color-primary-focus);
  padding: 8px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  transition: background-color 0.3s;
}

.sign-button-sign:hover {
  background: var(--color-dark);
  color: var(--color-primary-focus);
}

.image-country {
  width: 100%;
  height: 120px;
  background: gray;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}



/* Para telas menores que 768px (mobile) */
@media only screen and (max-width: 600px) {
  .container-cards {
    margin-top: 20px;
    width: 420px;
    margin: 0 auto;
  }
  
  .sign-button-sign {
    font-size: 12px;
    width: 100%;
  }
  
  .card-community {
    width: 340px;
    height: 200px;
    font-size: 15px;
    margin: 15px 5px;
    padding: 2px;
  }
  .card-community span {
    font-size: 14px;
    margin: 10px auto;
    width: -20px;
  }

  .card-community p {
    font-size: 14px;
    margin: 0 auto;
    width: -20px;
  }
 
  .footer-world {
    margin-top: 200px;
  }
  .cards-contain {
    margin: 10px 0;
    margin-bottom: 70px;
  }
}

/* Para telas entre 768px e 1024px (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .container-cards {
    margin-top: 40px;
    margin: 10px auto;
  }
  .imagefield {
    height: 200px;
  }
  .card-community {
    width: 160px;
    height: 200px;
  }
 
}

.user-communities-card {
  background: black;
  max-width: 600px;
  border-radius: 20px;
  border: 1px solid var(--color-details);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 40px auto;
  margin-bottom: 70px;
}

.user-communities-card h2 {
  color: white;
  text-align: left;
  width: 90%;
  transform: translateY(10px);
  margin: auto;
  padding: 10px 10px;
}

.communities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-communities-card hr {
  width: 90%;
  padding: 1px;
  border-radius: 20px;
  background: var(--color-details);
  border: none;
  margin: 10px auto;
}


.user-communities-card span{
  margin: 0 10px;
}

