 /* introduction.css */
 .abc {
  position: relative;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.abcd {
  font-size: 3.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}


.backgroundImage {
  max-width: 100%;
  height: 87.2vh;
  background-image: url("../../assets/backpackercommunity.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Adiciona a animação de rolagem */
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: left;
}


.introContent {
  margin-left: 35px;
  padding: 5px;
  width: 60%;
}

@media (max-width:800px) {
    .backgroundImage{
      text-align: center;
      justify-content: center;

    }

    .introContent{
      width: 100%;
      margin: 0px;
    }
 
}

.introInfo .introH2 {
  font-size: 2.2rem;
  margin-bottom: 20px; /* Reduz a margem inferior */
}

.introP {
  font-size: 1.2rem;
  margin-bottom: 30px; /* Reduz a margem inferior */
  color: #fff;
}
.vamosNessaButton {
  background-color: #fff;
  color: var(--color-primary-focus);
  border: 2px solid var(--color-primary-focus); /* Adiciona uma borda de 2px sólida branca */
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-family: "Raleway", sans-serif;
}


.vamosNessaButton:hover {
  background-color: var(--color-primary-focus);
  color: #fff;
  border: 2px solid var(--color-primary-focus);
}

.vamosNessaButton:active {
  transform: scale(0.95);
}


.exploreInfo .mainTitle {
  color: #000000; /* Cor do texto */
  text-align: center; /* Alinhamento centralizado */
  margin-top: 60px; /* Espaçamento superior */
  font-size: 1.6rem; /* Tamanho da fonte */
  font-family: "Raleway", sans-serif; /* Fonte */
  width: 70%; /* Largura do elemento */
  margin-left: auto; /* Margem à esquerda automática */
  margin-right: auto; /* Margem à direita automática */
}

.exploreInfo .subTitle {
  color: #000; /* Cor do texto */
  text-align: center; /* Alinhamento centralizado */
  margin-top: 60px; /* Espaçamento superior */
  font-size: 1.6rem; /* Tamanho da fonte */
  font-family: "Raleway", sans-serif; /* Fonte */
  width: 70%; /* Largura do elemento */
  margin-left: auto; /* Margem à esquerda automática */
  margin-right: auto; /* Margem à direita automática */
  position: relative; /* Para posicionamento dos pseudo-elementos */
}

.exploreInfo .subTitle::before,
.exploreInfo .subTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Largura da seta */
  height: 20px; /* Altura da seta */
  background-color: var(--color-details); /* Cor da seta */
}

.exploreInfo .subTitle::before {
  left: 100vh; /* Posicionamento da seta à esquerda */
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.exploreInfo .subTitle::after {
  right: 100vh; /* Posicionamento da seta à direita */
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

@media (max-width:850px) {
  .exploreInfo .subTitle::before {
    left: 90%; /* Posicionamento da seta à esquerda */
  }
  
  .exploreInfo .subTitle::after {
    right: 90%; /* Posicionamento da seta à direita */
  }
}

.stepsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  position: relative;
}

@media (max-width:650px) {
    .lines{
      display: none;
    }

    .line{
      display: none;
    }
}

@media (max-width:586px) {
    .stepsContainer{
      flex-wrap: wrap;
      gap: 20px;
    }
}

.lines {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%; /* Aumenta a largura para dar espaço aos lados */
  display: flex;
  justify-content: space-between;
}

.line {
  width: 20%; /* Reduz a largura das linhas para que haja mais espaço entre elas */
  height: 2px;
  background-color: var(--color-dark);
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5px;
}

 

.stepNumber {
  width: 50px;
  height: 50px;
  background-color: var(--color-primary-focus);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  top: 0; 
}


.stepText {
  margin-top: 20px;
  text-align: center;
  font-size: 1.0rem;
  color: #000000;
  width: 80%;
}

.connectWithTravelers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connectWithTravelers {
  position: relative;
  width: 100%;
  height: 57.2vh;
}

.backgroundImage2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/backpacker-community.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(2px); /* Aplica o efeito de desfoque à imagem de fundo */
}

.connectTextH2 {
  color: #fff; /* Cor do texto */
  font-size: 2rem;
  margin-bottom: 20px; /* Aumenta a margem inferior do h2 */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  z-index: 2; /* Garante que o h2 esteja acima do parágrafo */
}

.connectTextP {
  color: #fff; /* Cor do texto */
  font-size: 1.2rem;
  margin: 0; /* Remove a margem padrão do parágrafo */
  margin-top: 20px; /* Ajusta a margem superior do parágrafo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  z-index: 2; /* Garante que o parágrafo esteja acima do fundo */
}

@media (min-width:601px) and (max-width:1200px) {
  .connectTextH2{
    top: 35%;
    width: 90%;
  }

  .connectTextP{
    top: 60%;
  }
}

.ctaSection {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  background-color: var(--color-primary-focus); /* Cor de fundo rosa */
  padding: 20px;
}

.ctaContent p {
  color: #000000; /* Cor do texto */
  font-size: 2.1rem;
  margin-right: 70px; /* Espaçamento entre o texto e o botão */
  margin-top: 30px;
  font-weight: bold;
}

.vamoComigoButton {
  background-color: var(--color-details); /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  font-size: 1.5rem; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Cursor ao passar por cima */
  outline: none; /* Remove o contorno ao clicar */
  transition: background-color 0.3s, transform 0.3s; /* Transição de cor de fundo e escala */
  border-radius: 20px;
  font-family: "Raleway", sans-serif; /* Fonte */
  margin-top: 15px;
}

.vamoComigoButton:hover {
  background-color: var(--color-details-hover); /* Cor de fundo do botão ao passar o mouse */
}

.vamoComigoButton:active {
  transform: scale(0.95); /* Efeito de escala ao clicar */
}